/* main.css */


.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

body {
  font-family: Arial, sans-serif;
  /*background-color: rgb(196, 178, 187);*/
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #007bff;
}

p {
  line-height: 1.6;
}

/* Responsive layout for smartphones */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}
